%div{class: "small-6 columns"}

.admin_card

  .div{class: "row", id: "card-show-row"}

    = form_for card, :remote => true do |f|
      = f.label :title
      = f.text_field :title
      = f.label :description
      = f.text_area :description
      = f.label :price
      = f.text_area :price
      =  f.label :inventory
      = f.text_area :inventory
      = f.submit
    %br

    .row
      - card.photos.each do |photo|
        .div{class: "small-3 columns left"}
          =link_to "Delete Photo", photo, :remote => true, :method => :delete, :class => "delete_card_image"
          =image_tag photo.data.url(:full), :id => photo.id
          %br
          %br


  = form_for card, :remote => true, :class => "add_tag_form" do |f|
    = f.fields_for :cards_tags, [CardsTag.new] do |t|
      = t.collection_select :tag_id, Tag.all, :id, :name
    = f.submit
  %br

  Existing Tags:
  - card.tags.each do |tag|
    =tag.name 
    =link_to "Delete Tag", cardstags_path(card: card, tag: tag), :remote => true, :confirm => "Are you sure?", :method => :delete
  %br
  %br
  = link_to "Delete Card", card, :remote => true, :confirm => "Are you sure?", :method => :delete, :class => "delete_card_button"
  %br
