%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    %div{class: "small-6 columns"}
      = f.label :email
      = f.email_field :email, :autofocus => true
  .row
    %div{class: "small-6 columns"}
      = f.label :password
      %br/
      = f.password_field :password
  .row
    - if devise_mapping.rememberable?
      %div{class: "small-6 columns"}
        = f.check_box :remember_me
        = f.label :remember_me
  .row
    %div{class: "small-6 columns"}
      = f.submit "Sign in"
= render "users/shared/links"
