%li
  %div{class: " each-friend-view"}
    = image_tag friend.image_url if friend.image_url
    = friend.name + " -"
    = link_to "Edit", edit_friend_path(friend)
    = link_to "Delete", friend, :confirm => "Are you sure?", :method => :delete
    %div{class: "small-5 columns right"}
      - friend.occasions.each do |occasion|
        %p= occasion.event_type_name.capitalize+ ": " + occasion.date.strftime("%A, %b %d")


