!!!

%html
	%head
		%title InkWell
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body
		#header
			= render :partial => "layouts/nav/nav"
		= yield