!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
  <link href='http://fonts.googleapis.com/css?family=Redressed|Satisfy|Sacramento|Cookie|Dancing+Script:400,700|Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

  %title= Inkwell

  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"
  = javascript_include_tag "application"
  = csrf_meta_tag  
%body
  = render :partial => "layouts/nav/top_bar"

  .main_container
    .row
      - if current_user 
        %div{class: "small-8 columns"}
          = yield
        %div{class: "small-4 columns"}
          = render 'layouts/sidebar'
      - else
        %div{class: "small-12 columns"}
          = yield
